<%- model_class = SupplierStatus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>

<div class="container-fluid col-xs-12 col-md-5" >
<table class="table table-striped table-hover table-condensed" id="SS_datatable">
  <thead>
    <tr>
      <th>Supplier Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_statuses.each do |supplier_status| %>
      <tr>
        <td><%= supplier_status.description %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      supplier_status_path(supplier_status), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_status_path(supplier_status), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_status_path(supplier_status),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to 'Suppliers', supplier_status_path(supplier_status, format: "pdf"),:class => "btn btn-pdf btn-xs"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_supplier_status_path,
              :class => 'btn btn-primary' %>
</div>
