<%- model_class = CustomerStatus -%>
<div class="container-fluid">
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
  </div>
  <hr>
  <%= render :partial => 'form' %>

</div>

