<%- model_class = CustomerStatus -%>
<div class="container-fluid">
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
    <hr>
  </div>
  <%= render :partial => 'form' %>
</div>

