<%- model_class = CustomerStatus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<hr>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @customer_status.description %></dd>
</dl>
<br><br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              customer_statuses_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_customer_status_path(@customer_status), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_status_path(@customer_status),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
