<div class="nested-fields">
<div class="form-group">
  <%= f.label :fname, 'First Name :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_field :fname, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :lname,'Last Name :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_field :lname, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :phone,'Phone :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_field :phone, :class => 'form-control',:placeholder => "e.g. 8323183180" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :address,'Address :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :state,'State :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.select :state, options_for_select(us_states),{}, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :city,'City :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_field :city, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :email,'E-mail :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label 'Employee :', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-5">
    <%= f.collection_select :employee_ids, Employee.where(:employee_status => '1'), :id, :fname, {} ,{class: "form-control"} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :comment,'Comment :', :class => 'control-label col-sm-2' %>
  <div class="col-sm-5">
    <%= f.text_area :comment, :class => 'form-control' %>
  </div>
</div>
<div>
<%= link_to_remove_association "remove", f, :class => 'btn btn-info btn-xs'%>
</div>
</div>