<hr>
<%= form_for @employee, :html => { :class => "form-horizontal employee" } do |f| %>

    <% if @employee.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :employee_status_id,'Status :', :class => 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= f.collection_select :employee_status_id, EmployeeStatus.all, :id, :description, {}, {class: 'form-control'} %>
      </div>
      <%= error_span(@employee[:title_id]) %>
    </div>

  <div class="form-group">
    <%= f.label :title_id,'*  ' 'Title :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :title_id, Title.all, :id, :position, {}, {class: 'form-control'} %>
    </div>
    <%= error_span(@employee[:title_id]) %>
  </div>

      <div class="form-inline">
        <div class="form-group col-sm-4" >
          <%= f.label :fname,'*  ' 'First Name :', :class => 'control-label col-sm-6' %>
          <div class="col-sm-5">
            <%= f.text_field :fname, :class => 'form-control' %>
          </div>
          <%= error_span(@employee[:fname]) %>
        </div>
        <div class="form-group">
          <%= f.label :lname,'* ' 'Last Name :', :class => 'control-label col-sm-5' %>
          <div class="col-sm-5">
            <%= f.text_field :lname, :class => 'form-control' %>
          </div>
          <%= error_span(@employee[:lname]) %>
        </div>
      </div>
      <br>


  <div class="form-group">
    <%= f.label :phone,'*  ' 'Phone :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :phone, :class => 'form-control',:placeholder => "e.g. 8323183180" %>
    </div>
    <%= error_span(@employee[:phone]) %>
  </div>
  <div class="form-group">
    <%= f.label :email,"*  "'Email :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@employee[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :address,'* ' 'Address :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@employee[:address]) %>
  </div>

    <div class="form-inline">
      <div class="form-group col-sm-4">
        <%= f.label :state,'*  ' 'State :', :class => 'control-label col-sm-6' %>
        <div class="col-sm-2">
          <%= f.select :state, options_for_select(us_states, @employee.state), {}, class: 'form-control'  %>
        </div>
        <%= error_span(@employee[:state]) %>
      </div>
      <div class="form-group">
        <%= f.label :city,'*  ' 'City :', :class => 'control-label col-sm-5' %>
        <div class="col-sm-3">
          <%= f.text_field :city, :class => 'form-control' %>
        </div>
        <%= error_span(@employee[:city]) %>
      </div>
    </div>
    <br>

  <div class="form-group">
    <%= f.label :comment,'Comment :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@employee[:comment]) %>
  </div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            employees_path, :class => 'btn btn-default' %><h4>* is required field</h4>

</div>
  </div>


<% end %>
