<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => @employee.full_emp_name.titleize %></h1>
  <hr>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title_id) %>:</strong></dt>
  <dd><%= @employee.title.position %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= number_to_phone(@employee.phone, area_code: true) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @employee.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @employee.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @employee.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @employee.state %></dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= @employee.employee_status.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd id="comment"><%= @employee.comment %></dd>
</dl>
<%= link_to t('.back', :default => t("helpers.links.back")),
            employees_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_employee_path(@employee), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            employee_path(@employee),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
<hr>
<div class="container-fluid col-xs-10 col-md-4">
  <h3>Customers</h3>
  <% if @employee.customers.all.count > 0 %>
  <table class="table table-striped table-hover table-condensed" id="cust_get">
    <thead>
    <tr>
      <th class="col-sm-2">Customer #</th>
      <th class="col-sm-4">Customer Name</th>
      <th class="col-sm-4">Company Name</th>
    </tr>
    </thead>
    <tbody>

    <% for customer in @employee.customers.all %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_Cust_name, customer_path(customer)%></td>
          <td><%= customer.company_name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
      <% else %>
     <h4><ul>****There are no customer provided****</ul></h4>
  <% end %>
  <%= link_to 'Add a New Customer', new_customer_path, :class => 'btn btn-primary'  %>

</div>

