<hr>
<%= form_for @dimension, :html => { :class => "form-horizontal dimension" } do |f| %>

    <% if @dimension.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@dimension.errors.count, "error") %> prohibited this dimension from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @dimension.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
<% end %>

    <div class="form-group">
    <%= f.label :name,'*  ''Measurement :', :class  => 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= f.text_field :name, :placeholder => "42x48", :class => 'form-control' %>
    </div>
    <%= error_span(@dimension[:name]) %>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            dimensions_path, :class => 'btn btn-default' %>
        <h4>* is required field</h4>
          </div>
        </div>

<% end %>
