<%- model_class = Dimension -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
  <div class="container-fluid col-xs-12 col-md-5" >
<table class="table table-striped" id="d_table">
  <thead>
    <tr>
      <th>Measurements</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dimensions.each do |dimension| %>
      <tr>
        <td class="col-sm-2"><%= link_to dimension.name, dimension_path(dimension) %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      dimension_path(dimension), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dimension_path(dimension), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      dimension_path(dimension),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to 'Pallets', dimension_path(dimension, format: "pdf"),:class => "btn btn-pdf btn-xs"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <br>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_dimension_path,
                :class => 'btn btn-primary' %>
</div>
</div>
