<hr>
<%= form_for @pallet_status, :html => { :class => "form-horizontal pallet_status" } do |f| %>

    <% if @pallet_status.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pallet_status.errors.count, "error") %> prohibited this pallet_status from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pallet_status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class= "form-group">
    <%= f.label :description,'*' 'Description :', :class => 'control-label col-sm-2'   %>
    <div class="col-sm-1">
      <%= f.text_field :description, :class => 'form-control    ' %>
    </div>
    <%= error_span(@pallet_status[:description]) %>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pallet_statuses_path, :class => 'btn btn-default' %>
    <h4>* required fields</h4>
</div>
        </div>
<% end %>
