<%- model_class = PalletStatus -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
<div class="container-fluid col-xs-12 col-md-5" >
<table class="table table-striped" id="ps">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pallet_statuses.each do |pallet_status| %>
      <tr>

        <td><%= link_to pallet_status.description, pallet_status_path(pallet_status) %></td>

        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      pallet_status_path(pallet_status), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pallet_status_path(pallet_status), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pallet_status_path(pallet_status),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to "Pallets", pallet_status_path(pallet_status, :format => 'pdf'),:class => "btn btn-pdf btn-xs"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pallet_status_path,
            :class => 'btn btn-primary' %>
</div>
</div>