<hr>
<%= form_for @pallet_grade, :html => { :class => "form-horizontal pallet_grade" } do |f| %>

    <% if @pallet_grade.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pallet_grade.errors.count, "error") %> prohibited this pallet_grade from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pallet_grade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :level,'*' 'Grade Level :', :class => 'control-label col-sm-2' %>
    <div class="controls">
      <%= f.text_field :level, :class => 'col-sm-1' %>
    </div>
    <%= error_span(@pallet_grade[:level]) %>
  </div>
  <div class="form-group">
    <%= f.label :description,'*' 'Description :', :class => 'control-label col-sm-2' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'col-sm-2' %>
    </div>
    <%= error_span(@pallet_grade[:description]) %>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    pallet_grades_path, :class => 'btn btn-default' %>
        <h4>* is required field</h4>
      </div>
    </div>



<% end %>
