<div id="container">
<%- model_class = PalletGrade -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
  <div class="container-fluid col-xs-12 col-md-5" >
<table class="table table-striped" id="pg">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pallet_grades.each do |pallet_grade| %>
      <tr>
        <td><%= link_to pallet_grade.level, pallet_grade_path(pallet_grade) %></td>
        <td><%= pallet_grade.description %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      pallet_grade_path(pallet_grade), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pallet_grade_path(pallet_grade), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pallet_grade_path(pallet_grade),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to "Pallets", pallet_grade_path(pallet_grade, :format => 'pdf'),:class => "btn btn-pdf btn-xs"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_pallet_grade_path,
                    :class => 'btn btn-primary' %>
    </div>

</div>