<hr>
<%= form_for @runner, :html => { :class => "form-horizontal runner" } do |f| %>

    <% if @runner.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @runner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number, '*' 'Number of runners: ', :class => 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%= error_span(@runner[:number]) %>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    runners_path, :class => 'btn btn-default' %>
        <h4>* required fields</h4>
      </div>
    </div>

<% end %>
