<%- model_class = Runner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>

<div class="container-fluid col-xs-12 col-md-5" >
  <table class="table table-striped" id="run_table">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @runners.each do |runner| %>
        <tr>
          <td><%= link_to runner.number, runner_path(runner) %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        runner_path(runner), :class => 'btn btn-success btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_runner_path(runner), :class => 'btn btn-update btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        runner_path(runner),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
            <%= link_to 'Pallets', runner_path(runner, format: "pdf"),:class => "btn btn-pdf btn-xs"%>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_runner_path,
              :class => 'btn btn-primary' %>
</div>


