<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>

    <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fname,'*  ' 'Company Name :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :company_name, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:company_name]) %>
  </div>

    <div class="form-inline">
      <div class="form-group col-sm-4">
        <%= f.label :fname,'*  ' 'First Name :', :class => 'control-label col-sm-6' %>
        <div class="col-sm-2">
          <%= f.text_field :fname, :class => 'form-control' %>
        </div>
        <%= error_span(@customer[:fname]) %>
      </div>
      <div class="form-group">
        <%= f.label :lname,'*  ' 'Last Name :', :class => 'control-label col-sm-5' %>
        <div class="col-sm-3">
          <%= f.text_field :lname, :class => 'form-control' %>
        </div>
        <%= error_span(@customer[:lname]) %>
      </div>
    </div>
    <br>

  <div class="form-group">
    <%= f.label :phone,'*  ' 'Phone :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :phone, :class => 'form-control',:placeholder => "e.g. 8323183180" %>
    </div>
    <%= error_span(@customer[:phone]) %>
  </div>
  <div class="form-group">
    <%= f.label :address,'*  ' 'Address :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:address]) %>
  </div>


    <div class="form-inline">
      <div class="form-group col-sm-4">
        <%= f.label :state,'*  ' 'State :', :class => 'control-label col-sm-6' %>
        <div class="col-sm-3">
          <%= f.select :state, options_for_select(us_states, @customer.state),{}, class: 'form-control' %>
        </div>
        <%= error_span(@customer[:state]) %>
      </div>
      <div class="form-group">
        <%= f.label :city,'*  ' 'City :', :class => 'control-label col-sm-4' %>
        <div class="col-sm-3">
          <%= f.text_field :city, :class => 'form-control' %>
        </div>
        <%= error_span(@customer[:city]) %>
      </div>
    </div>
    <br>

  <div class="form-group">
    <%= f.label :email,'*  ' 'E-mail :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:email]) %>
  </div>
 <div class="form-group">
  <%= f.label :employee, '*  ' 'Employee :', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-3">
    <%= f.select :employee_ids, Employee.where(:employee_status_id => '1').collect {|x| [x.full_emp_name, x.id]}, {}, :multiple => true, :class => 'form-control' %>
  </div>
 </div>
  <div class="form-group">
    <%= f.label :comment,'Comment :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@customer[:comment]) %>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    customers_path, :class => 'btn btn-default' %>
        <h4>* is required field</h4>
      </div>
    </div>

<% end %>
