<%- model_class = Customer -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
<table class="table table-striped table-hover table-condensed" id="cust">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Contact Name</th>
      <th class="col-xs-1"><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th> Location </th>
      <th class="col-xs-1"><%= model_class.human_attribute_name(:email) %></th>
      <th id="comment"><%= model_class.human_attribute_name(:comment) %></th>
      <th>Status</th>
      <th class="col-sm-2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.company_name %></td>
        <td><%= link_to customer.full_Cust_name, customer_path(customer) %></td>
        <td><%= number_to_phone(customer.phone, area_code: true) %></td>
        <td align="left"><%= customer.address %></td>
        <td><%= customer.location %></td>

        <td><%= customer.email %></td>
        <td id="comment"><%= customer.comment %></td>
        <td><%= customer.customer_status.description %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      customer_path(customer), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_path(customer), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      customer_path(customer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to 'Orders', customer_path(customer, format: "pdf"),:class => "btn btn-pdf btn-xs"%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_path,
            :class => 'btn btn-primary' %>
</div>