<%- model_class = Customer -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => @customer.company_name.titleize %></h1>
  <hr>
</div>

<dl class="dl-horizontal">
  <dt><strong>Contact Name:</strong></dt>
  <dd><%= @customer.full_Cust_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= number_to_phone(@customer.phone,area_code: true) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @customer.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @customer.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @customer.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @customer.email %></dd>
  <dt><strong>Status :</strong></dt>
  <dd><%= @customer.customer_status.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd id="comment"><%= @customer.comment %></dd>
  <br><br>
</dl>
<%= link_to t('.back', :default => t("helpers.links.back")),
              customers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_customer_path(@customer), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              customer_path(@customer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<hr>
<div class="container-fluid col-xs-12 col-md-4" >
  <h3>Orders</h3>
  <% if @customer.orders.all.count > 0 %>
      <table class="table table-striped table-hover table-condensed" id="order_list">
        <thead>
        <tr>
          <th class="col-sm-2">Order #</th>
          <th>Final Amount</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>

        <% for order in @customer.orders.all %>
            <tr>
              <td><%= link_to order.id, order_path(order)%></td>
              <td><%= order.final_amount %></td>
              <td><%= order.date %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <h4><ul>****There are no orders provided****</ul></h4>
  <% end %>
  <%= link_to 'Add a New Order', new_order_path, :class => 'btn btn-primary'  %>

</div>
</div>