
<%= form_for @order, :html => { :class => "form-horizontal order" } do |f| %>

    <% if @order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :customer_id,'*  ' 'Customer :', :class => 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= f.collection_select :customer_id, Customer.where(:customer_status_id => 1),:id, :full_Cust_name, {}, {class: 'form-control'} %>
      </div>
      <%= error_span(@order[:customer_id]) %>
    </div>
    <div id="showhide">

      <div class="form-group">
        <%= f.label :markup,'*  ' 'Markup %:', :class => 'control-label col-sm-2' %>
        <div class=" col-sm-1">
          <%= f.select :markup,options_for_select(Order.markup, @order.markup),{},class: 'form-control' %>
        </div>
        <%= error_span(@order[:markup]) %>
      </div>
      <div class="form-group">
        <%= f.label :description,'Description :', :class => 'control-label col-sm-2' %>
        <div class=" col-sm-3">
          <%= f.text_area :description, :class => 'form-control' %>
        </div>
        <%= error_span(@order[:description]) %>
      </div>
      <div class="form-group">
        <%= f.label :order_status,'Order Status :', :class => 'control-label col-sm-2' %>
        <div class=" col-sm-2">
          <%= f.collection_select :order_status_id, OrderStatus.all, :id, :description,{}, {class: 'form-control'}  %>
        </div>
        <%= error_span(@order[:description]) %>
      </div>
      <div class="form-group">
        <%= f.label :approved, 'Quote Accepted :', :class => 'control-label col-sm-2' %>
        <div class=" col-sm-5">
          <%= f.check_box :approved, :class => 'checkbox'%>
        </div>
        <%= error_span(@order[:approved]) %>
      </div>
    </div>

    <!--
  <div class="form-group">
    <%= f.label :quoted_amount,'Quote Amounts :', :class => 'control-label col-sm-2' %>
    <div class=" col-sm-5">
      <%= f.text_field :quoted_amount, class:'form-control', id:'q_amount'%>
    </div>
    <%= error_span(@order[:quoted_amount]) %>
  </div>
  <div class="form-group">
    <%= f.label :final_amount,'Final Amounts :', :class => 'control-label col-sm-2' %>
    <div class=" col-sm-5">
      <%= f.text_field :final_amount, :class => 'form-control',id:'total'%>
    </div>
    <%= error_span(@order[:final_amount]) %>
  </div>

  <div class="form-group">
    <%= f.label :date,'Date :', :class => 'control-label col-sm-2' %>
    <div class=" col-sm-5">
      <%= f.date_select :date, :class => 'form-control' %>
    </div>
    <%= error_span(@order[:date]) %>
  </div>
 -->

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil,method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn btn-default' %>
        <a href="#" id="hideshow" class="btn btn-info">Details</a>
        <h4>* required fields</h4>
      </div>
    </div>
<div class="container">
      <legend>Pallets</legend>
      <p>Number of Line Item: <%= f.object.line_items.count unless f.object.line_items.nil? %></p>
      <fieldset id="Line_Item">
        <ol>
          <%= f.fields_for :line_items do |builder| %>
              <%= render 'line_item_fields', :f => builder %>
          <% end %>
        </ol>
        <%= link_to_add_association 'Add Pallets', f, :line_items,render_options: { wrapper: 'inline' }, class:"btn btn-primary", id:'buttontoshow'  %>
      </fieldset>

<% end %>
</div>