<div class="nested-fields">
  <br>
     <div class="form-group">
    <%= f.label :pallet_id,'*  ' 'Pallet :', :class => 'control-label col-sm-1' %>
    <div class=" col-sm-6">
      <%= f.collection_select :pallet_id, Pallet.where(:pallet_status_id => '1'), :id, :full_Pallet_name, {} ,{class: "Big form-control"} %>
    </div>
       <%= f.label :quantity,'*  ' 'Quantity :', :class => 'control-label col-sm-2' %>
       <div class=" col-sm-2">
         <%= f.number_field :quantity, :class => "form-control" %>
       </div>
       <%= link_to_remove_association "remove", f, :class => 'btn btn-danger'%>
  </div>

  <!--
  <div class="form-group">
    <%= f.label :line_item_total, 'Line Item Total :', :class => 'control-label col-sm-1'%>
    <div class=" col-sm-4">
      <%= f.text_field :line_item_total, :class => "dsad form-control"%>
    </div>
  </div>
  -->

  </div>
