<%- model_class = Order -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped" id="order_table">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Order Status</th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th align="right"><%= model_class.human_attribute_name(:quoted_amount) %></th>
      <th><%= model_class.human_attribute_name(:markup) %></th>
      <th><%= model_class.human_attribute_name(:final_amount) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.order_status.description %></td>
        <td><%= order.customer.full_Cust_name %></td>
        <td align="right"><%= number_to_currency(order.quoted_amount) %></td>
        <td align="right"><%= number_to_percentage(order.markup, precision:1) %></td>
        <td align="right"><b><%= number_to_currency(order.final_amount) %></b></td>
        <td><%= order.date %></td>
        <td id="comment"><%= order.description %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      order_path(order), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
</div>