<%- model_class = Order -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default =>  @order.customer.full_Cust_name.titleize %>'s Order</h1>
</div>


<dl class="dl-horizontal">
  <dt><strong>Order Status:</strong></dt>
  <dd><%= @order.order_status.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @order.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quoted_amount) %>:</strong></dt>
  <dd><%= number_to_currency(@order.quoted_amount) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:markup) %>:</strong></dt>
  <dd><%= number_to_percentage(@order.markup, precision: 1) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:final_amount) %>:</strong></dt>
  <dd><b><%= number_to_currency(@order.final_amount) %></b></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd id="comment"><%= @order.description %></dd>
</dl>
<%= link_to t('.back', :default => t("helpers.links.back")),
            orders_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_order_path(@order), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            order_path(@order),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>

<hr>
<div class="container-fluid col-xs-12 col-md-5">
<h3>Pallets</h3>
<% if @order.line_items.all.count > 0 %>
    <table class="table table-striped table-hover table-condensed">
      <thead>
      <tr>
        <th>Pallet</th>
        <th>Status</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>

      <% for lineitem in @order.line_items.all %>
          <tr>
            <td><%= link_to lineitem.pallet.full_Pallet_name, supplier_path(lineitem) %></td>
            <td><%= lineitem.pallet.pallet_status.description %></td>
            <td><%= lineitem.quantity %></td>
            <td align="right"><%= number_to_currency(lineitem.line_item_total)%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
      </div>

<% end  %>
  </div>