<hr>
<%= form_for @title, :html => { :class => "form-horizontal title" } do |f| %>

    <% if @title.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @title.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :position, '* ' 'Position:',:class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
    <%= error_span(@title[:position]) %>
  </div>
  <div class="form-group">
    <%= f.label :comment, 'Comment:', :class => 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@title[:comment]) %>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            titles_path, :class => 'btn btn-default' %>
    <h4>* required field</h4>
          </div>
        </div>
<% end %>
