<%- model_class = Title -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
<div class="container-fluid col-xs-12 col-md-5" >
<table class="table table-striped" id="ts">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= link_to title.position, title_path(title) %></td>
        <td><%= title.comment %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      title_path(title), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_title_path(title), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      title_path(title),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_title_path,
            :class => 'btn btn-primary' %>
</div>