<%= form_for @pallet, :html => { :class => "form-horizontal pallet" } do |f| %>

    <% if @pallet.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pallet.errors.count, "error") %> prohibited this pallet from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pallet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :grade_id,'*  ' 'Grade :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :pallet_grade_id, PalletGrade.all, :id, :level, {} ,{class: "form-control"}%>
    </div>
    <%= error_span(@pallet[:pallet_grade_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :dimension_id,'*  ' 'Diemnsions :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :dimension_id, Dimension.all,:id, :name,{},{class: 'form-control'} %>
    </div>
    <%= error_span(@pallet[:dimension_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :material_id,'*  ' 'Material :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :material_id,Material.all,:id, :name,{}, {class: 'form-control'} %>
    </div>
    <%= error_span(@pallet[:material_id]) %>
  </div>
    <div class="form-group">
      <%= f.label :runner_id,'*  ' 'Runner :', :class => 'control-label col-sm-2' %>
      <div class="col-sm-1">
        <%= f.collection_select :runner_id, Runner.all,:id, :number,{}, {class: 'form-control'} %>
      </div>
      <%= error_span(@pallet[:material_id]) %>
    </div>
  <div class="form-group">
      <%= f.label :price,'*  ' 'Price :', :class => 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
      <br>
  </div>
    <div class="form-group">
      <%= f.label 'Supplier :', :class => 'control-label col-sm-2' %>
      <div class="col-sm-3">
        <%= f.select :supplier_ids, Supplier.where(:supplier_status => '1').collect{|x| [x.full_Sup_name, x.id]}, {}, :multiple => true, :class => 'form-control' %>
      </div>
      <br>
    </div>
  <div class="form-group">
    <%= f.label :comment,'Comment :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@pallet[:comment]) %>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    pallets_path, :class => 'btn btn-default' %>
        <h4>* required fields</h4>
      </div>
    </div>



<% end %>
