<%- model_class = Pallet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
  <table class="table table-striped" id="pdt">
    <thead>
    <tr>
      <th class="col-sm-2">Supplier Name and Contact</th>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:pallet_grade_id) %></th>
      <th><%= model_class.human_attribute_name(:dimension_id) %></th>
      <th><%= model_class.human_attribute_name(:material_id) %></th>
      <th><%= model_class.human_attribute_name(:runner) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th class="col-sm-1" ><%= model_class.human_attribute_name(:pallet_status) %></th>
      <th class="col-sm-3" ><%= model_class.human_attribute_name(:comment) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @pallets.each do |pallet| %>
        <tr>
          <td>
            <% pallet.suppliers.each do |supplier| %>
                  <%= link_to supplier.full_Sup_name, supplier_path(supplier)  %>
            <% end %>
          </td>
          <td><%= pallet.pallet_grade.level %></td>
          <td><%= pallet.dimension.name %></td>
          <td><%= pallet.material.name %></td>
          <td><%= pallet.runner.number %></td>
          <td align="right"><%= number_to_currency(pallet.price) %></td>
          <td><%= pallet.pallet_status.description %></td>
          <td id="comment"><%= pallet.comment %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        pallet_path(pallet), :class => 'btn btn-success btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_pallet_path(pallet), :class => 'btn btn-update btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        pallet_path(pallet),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pallet_path,
            :class => 'btn btn-primary' %>
