<%- model_class = Pallet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <hr>
</div>
<div class="container-fluid">
  <div clas="row">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:pallet_grade_id) %>:</strong></dt>
      <dd><%= @pallet.pallet_grade.level %></dd>
      <dt><strong><%= model_class.human_attribute_name(:dimension_id) %>:</strong></dt>
      <dd><%= @pallet.dimension.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:runner) %>:</strong></dt>
      <dd><%= @pallet.runner.number %></dd>
      <dt><strong><%= model_class.human_attribute_name(:material_id) %>:</strong></dt>
      <dd><%= @pallet.material.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= number_to_currency(@pallet.price) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
      <dd id="comment"><p> <%= @pallet.comment %></p></dd>
    </dl>
  </div>

</div>
<br><br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              pallets_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pallet_path(@pallet), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pallet_path(@pallet),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
