<hr>
<%= form_for @material, :html => { :class => "form-horizontal material" } do |f| %>

    <% if @material.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @material.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name,'*' 'Material name: ', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@material[:description]) %>
  </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            materials_path, :class => 'btn btn-default' %>
        <h4>* is required field</h4>
          </div>
        </div>

<% end %>
