<%- model_class = Material -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <hr>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @material.name %></dd>
</dl>
<br><br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              materials_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_material_path(@material), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              material_path(@material),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
