<hr>
<div id="container-fluid">
  <div class="row">
<%= form_for @supplier, :html => { :class => "form-horizontal supplier" } do |f| %>

    <% if @supplier.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @supplier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :supplier_name,'*  ' 'Company Name: ', :class => 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :supplier_name, :class => 'form-control' %>
    </div>
    <%= error_span(@supplier[:supplier_name]) %>
  </div>
      <div id="hideshow_sup">
        <div class="form-inline">
          <div class="form-group col-sm-4">
            <%= f.label :contact_fn,'*  ' 'First Name: ', :class => 'control-label col-md-6' %>
            <div class="col-sm-2">
              <%= f.text_field :contact_fn, :class => 'form-control' %>
            </div>
            <%= error_span(@supplier[:contact_fn]) %>
          </div>
          <div class="form-group">
            <%= f.label :contact_ln, '*  ' 'Last Name: ', :class => 'control-label col-md-5' %>
            <div class="col-sm-3">
              <%= f.text_field :contact_ln, :class => 'form-control' %>
            </div>
            <%= error_span(@supplier[:contact_ln]) %>
          </div>
        </div>
<br>
  <div class="form-group">
    <%= f.label :phone,'*  ' 'Phone: ', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :phone, :class => 'form-control',:placeholder => "e.g. 8323183180" %>
    </div>
    <%= error_span(@supplier[:phone]) %>
  </div>
  <div class="form-group">
    <%= f.label :email,'*  '  'Email: ', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@supplier[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :address,'*  ' 'Address: ', :class => 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@supplier[:address]) %>
  </div>

        <div class="form-inline">
          <div class="form-group col-sm-4">
            <%= f.label :state,'*  '  'State: ', :class => 'control-label col-xs-6' %>
            <div class="col-xs-2">
              <%= f.select :state, options_for_select(us_states, @supplier.state),{}, class: 'form-control'  %>
            </div>
            <%= error_span(@supplier[:state]) %>
          </div>
          <div class="form-group">
            <%= f.label :city,'*  ' 'City: ', :class => 'control-label col-xs-5' %>
            <div class="col-sm-3">
              <%= f.text_field :city, :class => 'form-control' %>
            </div>
            <%= error_span(@supplier[:city]) %>
          </div>
        </div>
        <br>

  <div class="form-group">
    <%= f.label :comment, "Comment: ", :class => 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@supplier[:comment]) %>
  </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  suppliers_path, :class => 'btn btn-default' %>
          <a href="#" id="hideshow" class="btn btn-info">Details</a>
          <h4>* required field</h4>
      </div>
        </div>

        <div class="container">
          <legend>Pallet Prices</legend>
          <fieldset id="supplier-pallets">
            <ol>
              <%= f.fields_for :pallets do |distributor| %>
                  <%= render 'pallet_fields', f: distributor %>
              <% end %>
            </ol>
            <%= link_to_add_association 'add a pallet', f, :pallets,
                                        render_options: { wrapper: 'inline' }, class:"btn btn-primary", id:"btn_sup" %>
          </fieldset>
        </div>

      </div>


<% end %>
    </div>