<div class="nested-fields" id="wrapper">
  <br>
  <div class="form-group">
    <%= f.label :pallet_grade_id,'*  ' 'Grade :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :pallet_grade_id, PalletGrade.all, :id, :level, {} ,{class: "form-control"}%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dimension_id,'*  ' 'Diemnsions :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :dimension_id, Dimension.all,:id, :name, {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :material_id,'*  ' 'Material :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :material_id, Material.all, :id, :name ,{}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :runner_id,'*  ' 'Runner :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.collection_select :runner_id, Runner.all, :id, :number ,{}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price,'*  ' 'Price :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <br>
  </div>
  <div class="form-group">
    <%= f.label :comment,'*  ' 'Comment :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_area :comment, :class => 'form-control' %>
      <br>
      <%= link_to_remove_association "Remove", f, :class => 'btn btn-danger btn-xs'%>
    </div>
  </div>

</div>