<%- model_class = Supplier -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
<table class="table table-striped table-hover table-condensed" id="sp">
  <thead>
    <tr>
      <th>Supplier Name</th>
      <th>Contact Name</th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th>Location</th>

      <th>Status</th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <%for supplier in @suppliers.all %>
      <tr>
        <td><%= link_to supplier.supplier_name, supplier_path(supplier) %></td>
        <td><%= supplier.Sup_name %></td>
        <td><%= number_to_phone(supplier.phone, area_code: true) %></td>
        <td><%= supplier.email %></td>
        <td align="left"><%= supplier.address  %></td>
        <td><%= supplier.location %></td>

        <td><%= supplier.supplier_status.description %></td>
        <td id="comment"><%= supplier.comment %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      supplier_path(supplier), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_path(supplier), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_path(supplier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_supplier_path,
            :class => 'btn btn-primary' %>
</div>