<%- model_class = Supplier -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => @supplier.supplier_name.titleize %></h1>
  <hr>
</div>

<dl class="dl-horizontal">

  <dt><strong>Contact Name:</strong></dt>
  <dd><%= @supplier.Sup_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= number_to_phone(@supplier.phone, area_code: true) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @supplier.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @supplier.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @supplier.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @supplier.state %></dd>
  <dt><strong>Status :</strong></dt>
  <dd><%= @supplier.supplier_status.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd id="comment"><%= @supplier.comment %></dd>
  <br><br>
</dl>
<%= link_to t('.back', :default => t("helpers.links.back")),
              suppliers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_supplier_path(@supplier), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              supplier_path(@supplier),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<hr>
<div class="container-fluid col-xs-12 col-md-5">
  <legend><h3>Pallet Prices</h3></legend>
  <% if @supplier.pallets.all.count > 0 %>
      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>Pallet</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>

        <% for pallet in @supplier.pallets.all %>
            <tr>
              <td><%= pallet.pallet_name %></td>
              <td align="right"><%= link_to number_to_currency(pallet.price), pallet_path(pallet)%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <h4><ul>****There are no pallet provided****</ul></h4>
  <% end %>
  <%= link_to 'Add a new pallet', new_pallet_path, :class => 'btn btn-default'  %>

</div>
</div>