<hr>
<%= form_for @line_item, :html => { :class => "form-horizontal line_item" } do |f| %>

    <% if @line_item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @line_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pallet_id,'*' ' Pallet :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_select :pallet_id, Pallet.where(:pallet_status_id => '1'), :id,:id, {}, {class: 'form-control'}%>
    </div>
    <%= error_span(@line_item[:pallet_id]) %>
  </div>
  <div class="form-group">
    <%= f.label :quantity,'*' 'Quantity :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= f.number_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@line_item[:quantity]) %>
  </div>
  <div class="form-group">
    <%= f.label :line_item_total, '*' 'Line Item Total :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.text_field :line_item_total, :class => 'form-control' %>
    </div>
    <%= error_span(@line_item[:line_item_total]) %>
  </div>
  <div class="form-group">
    <%= f.label :date,'*' 'Date :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.date_select :date, :class => 'form-control' %>
    </div>
    <%= error_span(@line_item[:date]) %>
  </div>
  <div class="form-group">
    <%= f.label :order_id,'*' 'Order :', :class => 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_select :order_id, Order.where(:order_status_id => '1'), :id, :id,{},{class: 'form-control'} %>
    </div>
    <%= error_span(@line_item[:order_id]) %>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            line_items_path, :class => 'btn btn-default' %>
        <h4>* is required field</h4>
      </div>
    </div>

<% end %>
