<%- model_class = LineItem -%>
<div class="container-fluid">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <hr>
</div>
<table class="table table-striped" id="LT_table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pallet_id) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:line_item_total) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:order_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= link_to line_item.id, line_item_path(line_item) %></td>
        <td><%= line_item.pallet.pallet_name %></td>
        <td><%= line_item.quantity %></td>
        <td align="right"><%= number_to_currency(line_item.line_item_total) %></td>
        <td><%= line_item.date %></td>
        <td><%= line_item.order_id %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      line_item_path(line_item), :class => 'btn btn-success btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_line_item_path(line_item), :class => 'btn btn-update btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      line_item_path(line_item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_line_item_path,
            :class => 'btn btn-primary' %>
</div>