<%- model_class = LineItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <hr>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pallet_id) %>:</strong></dt>
  <dd><%= @line_item.pallet.pallet_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @line_item.quantity %></dd>
  <dt align="right"><strong><%= model_class.human_attribute_name(:line_item_total) %>:</strong></dt>
  <dd><%= number_to_currency(@line_item.line_item_total) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @line_item.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:order_id) %>:</strong></dt>
  <dd><%= @line_item.order_id %></dd>
</dl>
<br><br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              line_items_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_line_item_path(@line_item), :class => 'btn btn-update' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              line_item_path(@line_item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
