<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><p class="GAcolor">Grembowiec & Associates</p> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",root_path %></li>
        <li><%= link_to "Supplier",suppliers_path %></li>
        <li><%= link_to "Employee", employees_path%></li>
        <li><%= link_to "Pallets", pallets_path %></li>
        <li><%= link_to "Orders", orders_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customer<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Look for Customer", customers_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Add a new customer", new_customer_path %></li>
          </ul>
        </li>
<!--begin dropdown for reports -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                <li class="dropdown-submenu">
                    <ul class="dropdown-menu">
                    </ul>
                </li>
            <li>
            <li><%= link_to "New Orders This Month", reports_new_orders_monthly_path(@order, :format => 'pdf')%></li>
            <li><%= link_to "New Customers This Month", reports_new_customers_monthly_path(@customer, :format => 'pdf')%></li>
            <li><%= link_to "New Suppliers This Month", reports_new_suppliers_monthly_path(@supplier, :format => 'pdf')%></li>
            <li><%= link_to "Monthly Cancelled Orders", reports_cancelled_orders_monthly_path(@order, :format => 'pdf')%></li>
            <li><%= link_to "Monthly Inactive Customers", reports_inactive_customers_monthly_path(@customer, :format => 'pdf')%></li>
            <li><%= link_to "Monthly Inactive Suppliers", reports_inactive_suppliers_monthly_path(@supplier, :format => 'pdf')%></li>

          </ul>
        </li>
      </ul>
<!-- begin dropdown for status tables -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Management<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Customers</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Customer Status", customer_statuses_path %></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Employees</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Employee Status", employee_statuses_path %></li>
                <li><%= link_to "Titles", titles_path %></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Orders</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Order Status", order_statuses_path %></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Pallets</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Pallet Grade", pallet_grades_path %></li>
                <li><%= link_to "Dimensions", dimensions_path %></li>
                <li><%= link_to "Runners", runners_path %></li>
                <li><%= link_to "Pallet Status", pallet_statuses_path %></li>
                <li><%= link_to "Materials", materials_path %></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Suppliers</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Supplier Status", supplier_statuses_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Help', '/User_Manual.pdf' %></li>
          </ul>
      </ul>
      </div>
    </div>
  </div>
</nav>